*{
    font-size: 25px;
    color: #fff;
}
body{
    margin: 0;
    padding:0;
}
header, main, aside, footer{
    border:#fff 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 100px;
    background: #222;
}
main{
    width: 10%;
    height: 670px;
    background: #444;
}
aside{
    width: 100%;
    height: 670px;
    background: #555;
}
footer{
    width: 100%;
    height: 60px;
    background: #656;
}